@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    background-image: "";
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-panel {
    margin-left: 10%;
    margin-right: 10%;
    margin-block: auto;

    background-color: rgba(0, 255, 255, 0.3);
    border-radius: 32px;
    border: 3px solid lightcyan;

    text-align: center;
}

.timer-panel {
    margin-left: 10%;
    margin-right: 10%;
    margin-block: auto;

    background-color: rgba(0, 255, 255, 0.3);
    border-radius: 32px;
    border: 3px solid lightcyan;

    text-align: center;

    display: none;
}

.start-label {
    font-family: 'Noto Serif JP', serif;
    font-size: 64px;
    color: rgb(30, 30, 30);
    margin: 32px;
}

.start-button {
    border-radius: 32px;
    background: linear-gradient(to bottom, rgb(170, 255, 255), aqua);
    padding: 32px;
    color: rgb(30, 30, 30);
    font-family: 'Noto Serif JP', serif;
    font-size: 64px;
    margin-block: 24px;
    border: 3px solid aqua;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 36px 0px, rgba(0, 0, 0, 0.3) 0px 0px 0px 1px;
    transition: all 200ms;
}

.start-button:hover {
    background: linear-gradient(to bottom, rgb(200, 255, 255), aqua);
    transition: all 200ms;
}

.timer-label {
    text-align: center;
    font-family: monospace;
    font-size: 72px;
    padding: 32px;
    margin: 64px;
    color: rgb(30, 60, 60);
}